<div class="jumbotron">
<div class="container">
<h1>Melissa Khat</h1>
<h2>Coder | Snowboarder | Punner</h2>
</div>
</div>

<div class="container">
  <div class="mylinks">
    <p>
      About Me
    </p>
    <p>
      Skills
    </p>
    <p>
      Projects
    </p>
    <p>
      Employment
    </p>
    <p>
      Education
    </p>
    <p>
      Contact
    </p>
  </div>
</div>

<div class="container">
  <div class="footer">
      <p>
        Call
      </p>
      <p>
        Email
      </p>
  </div>
</div>
