<div class="jumbotron">
  <div class="container">
    <h1>Melissa Khat</h1>
    <h2>Coder | Snowboarder</h2>
    <h2>Denver, CO</h2>
  </div>
</div>

<div class="container">
  <div class="mylinks">
    <h2 id="about">
      About
      <p id="aboutme" style="display:none">
        Hi! My name is Melissa, a junior developer from Colorado. I recently graduated from Galvanize Full Stack in Denver, CO. <br> Welcome to my portfolio! Feel free to also check out my other projects and social sites!
      </p>
    </h2>
    <h2 id="contact">
      Social
      <p id="contactme" style="display:none">
        <a href="https://github.com/cosnochic"><i class="fa fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/melissakhat"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://twitter.com/melissakhat"><i class="fa fa-twitter-square"></i></a>
      </p>
    </h2>
    <h2 id="skills">
      Skills
      <p id="skillsme" style="display:none">
        Ruby on Rails | HTML5 | CSS3 (Bootstrap) | jQuery <br>
        Agile | Pair Programming | TDD <br>
        GIT | PostgreSQL | AWS S3 | API <br>
        Capybara | Rspec <br>
      </p>
    </h2>
    <h2 id="projects">
      Projects
      <p id="projectsme" style="display:none">
        Snowflakes <br> Portfolio <br>
      </p>
    </h2>
    <h2 id="work">
      Employment
      <p id="worksme" style="display:none">
        Manager of Operations <em>CIRC 2014</em> <br> Administrative Assistant <em>CIRC 2012</em>
      </p>
    </h2>
    <h2 id="education">
      Education
      <p id="educateme" style="display:none">
        Galvanize Full-Stack Web Development Program <em> 2015</em> <br> University of Colorado <em> B.A. 2011 </em>
      </p>
    </h2>
  </div>
</div>

<div id="footer">

</div>
