<div class="jumbotron">
<div class="container">
<h1>Melissa Khat</h1>
<h2>Coder | Snowboarder</h2>
<h2>Denver, CO</h2>
</div>
</div>

<div class="container">
  <div class="mylinks">
    <h2 id="about">
      About Me
      <p id="aboutme" style="display:none">
        Hi! My name is Melissa, a junior developer from Colorado. I recently graduated from Galvanize Full Stack in Denver, CO. <br> Welcome to my portfolio! Feel free to also check out my other projects and social sites!
      </p>
    </h2>
    <h2 id="contact">
      Contact
      <p id="contactme" style="display:none">
      <a class="githubBtn smGlobalBtn" href="https://github.com/cosnochic"></a>
      <a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/in/melissakhat"></a>
      <a class="twitterBtn smGlobalBtn" href="https://twitter.com/melissakhat"></a>
    </p>
    </h2>
    <h2 id="skills">
      Skills
      <p id="skillsme" style="display:none">
          All my skills displayed here.
      </p>
    </h2>
    <h2 id="projects">
      Projects
      <p id="projectsme" style="display:none">
          lalala
      </p>
    </h2>
    <h2 id="work">
      Work
      <p id="worksme" style="display:none">
          employment history
      </p>
    </h2>
    <h2 id="education">
      Education
      <p id="educateme" style="display:none">
          Here is where I will use Ruby on Rails and CRUD my info.
      </p>
    </h2>
  </div>
</div>
