<div class="jumbotron">
<div class="container">
<h1>Melissa Khat</h1>
<h2>Coder | Snowboarder | Punner</h2>
</div>
</div>

<div class="container">
  <div class="mylinks">
    <p id="about">
      About Me
      <p id="aboutme" style="display:none">
          Here is where I will use Ruby on Rails and CRUD my info.
      </p>
    </p>
    <p id="skills">
      Skills
      <p id="skillsme" style="display:none">
          All my skills displayed here.
      </p>
    </p>
    <p id="projects">
      Projects
      <p id="projectsme" style="display:none">
          lalala
      </p>
    </p>
    <p id="work">
      Work
      <p id="worksme" style="display:none">
          employment history
      </p>
    </p>
    <p id="education">
      Education
      <p id="educateme" style="display:none">
          Here is where I will use Ruby on Rails and CRUD my info.
      </p>
    </p>
    <p id="contact">
      Contact
      <p id="contactme" style="display:none">
          links to social sites and stuff
      </p>
    </p>
  </div>
</div>
