<div class="jumbotron">
<div class="container">
<h1>Melissa Khat</h1>
<h2>Coder | Snowboarder | Punner</h2>
</div>
</div>

<div class="container">
  <div class="mylinks">
    <p id="about">
      About Me
      <p id="aboutme" style="display:none">
          hhihihihi
      </p>
    </p>
    <p id="skills">
      Skills
      <p id="skillsme" style="display:none">
        Front-End Development

        <ul style="display:none">
          <li>Ruby on Rails</li>
          <li>HTML5</li>
          <li>CSS3 Bootstrap</li>
          <li>Javascript/JQuery</li>
        </ul>
      </p>
    </p>
    <p id="projects">
      Projects
    </p>
    <p id="work">
      Work
    </p>
    <p id="education">
      Education
    </p>
    <p id="contact">
      Contact
    </p>
  </div>
</div>
