/* Coolors Exported Palette - coolors.co/7ac74f-a1cf6b-d5d887-e0c879-e87461 */

$color1: #7ac74f; //rgba(122, 199, 79, 100)
$color2: #a1cf6b; //rgba(161, 207, 107, 100)
$color3: #d5d887; //rgba(213, 216, 135, 100)
$color4: #e0c879; //rgba(224, 200, 121, 100)
$color5: #e87461; //rgba(232, 116, 97, 100)